*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(18, 14, 38);
}

.container{
    height: 100vh;
    width: 1300px;
}

.logo{
    margin-left: 50px;
    padding-top: 10px;
    
}

.logo img:hover{
    width: 185px;
    margin-left: -15px;
}

nav,ul,li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 21, 72);
    height: 70px;
}

.header{
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 12px 1px rgb(26, 19, 54);
    width: 1348px;
}

ul,li a{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Space Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-weight: bold;
    padding: 10px 20px;
}


li a{
    text-align: center;
    text-decoration: none;
    color: white;
}


li a:hover{
    color: rgb(255, 255, 255);
    background-color: #0693e3;
    padding: 10px 20px;
    border-radius: 6px;
}

#container-2{
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2, span{
    text-align: center;
    color: white;
    font-size: 50px;
}

pre{
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center;
    color: rgb(6, 147, 227);
    font-size: 15px;
}

span{
    color: rgb(6, 147, 227);
}

p{
    text-align: center;
    color: rgb(150, 146, 146);
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 15px
}

.button a{
    text-decoration: none;
    font-size: 15px;
    font-family: cursive;
    color: rgb(6, 147, 227);
    text-transform: capitalize;
    border: 3px solid rgb(6, 147, 227);
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    word-spacing: 5px;
}

.button{
    text-align: center;
    padding-top: 40px;
}

.button a:hover{
    background-color: rgb(2, 27, 43);
}

#about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

h1{
    color: rgb(224, 224, 224);
    text-transform: capitalize;
    margin: 10px 0 40px;
    
}

.about-me{
    color: rgb(150, 146, 146);
    height: 250px;
    line-height: 1.4;
    font-weight: initial;
    background-color: rgb(26, 19, 54);
    border-radius: 10px;
    width: 700px;
    text-align: center;
}

.image img{
    border-radius: 20px;
    box-shadow: 12px 12px 0 0 rgb(49, 179, 255);
}

#react{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.imagee img{
    border-radius: 30px;
    box-shadow: 12px 12px 0 0 rgb(49, 179, 255);
}

.world{
    background-color: rgb(26, 19, 54);
    width: 700px;
    height: 250px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(150, 146, 146);
}

samp{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(224, 224, 224);
}


#all-fille{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 20% 40% 25% 20%;
    grid-template-areas: "front googel paid project";
    gap: 20px;
    height: 100vh;
    margin-left: 40px;
}

.imgg-1{
    grid-area: front;
}

.imgg-2{
    grid-area: googel;
}

.imgg-3{
    grid-area: paid;
}

.imgg-4{
    grid-area: project;
}

.imgg-1 img,
.imgg-2 img,
.imgg-3 img,
.imgg-4 img{
    width: 280px;
    height: 300px;
    border-radius: 20px;
    margin-top: 200px;
    padding: 0;
    box-shadow: 0px 2px 10px 2px #485051;
    filter: blur(0.2px);
    transition: all 0.8s ease-in-out;
}

.imgg-1 img:hover{
    height: 380px;
    filter: blur(0px);
}

.imgg-2 img:hover{
    height: 380px;
    filter: blur(0px);
}

.imgg-3 img:hover{
    height: 380px;
    filter: blur(0px);
}

.imgg-4 img:hover{
    height: 380px;
    filter: blur(0px);
}


#contact-me{
    height: 60vh;
}

.get-in-touch{
    margin-top: 10%;
    font-size: 38px;
}

.contact-info{
    height: 15%;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.5;
}

.contact-mail{
    text-align: center;
    margin-top: 20px;
}

.contact-mail a{
    text-decoration: none;
    font-size: 15px;
    font-family: cursive;
    color: rgb(6, 147, 227);
    text-transform: capitalize;
    border: 3px solid rgb(6, 147, 227);
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact-mail a:hover{
    background-color: rgb(2, 27, 43);
}

footer{
    height: 20vh;
}

.footer,.made,.mojahed{
    display: flex;
    align-items: center;
    justify-content: center;
}

.made,code{
    font-size: 20px;
    color: rgb(216, 214, 214);
    text-transform: capitalize;
    font-weight: bold;
}

.made{
    color: #0693e3;
}

.mojahed{
    margin-top: 10px;
    padding: 0;
}

code{
    display: grid;
    place-items: center;
    line-height: 5;
    font-size: 15px;
    letter-spacing: 3px;
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #1f1548; 
}

::-webkit-scrollbar-thumb{
    background: rgb(6, 147, 227);
}


@media (min-width: 320px) and (max-width: 1100px){
    .container{
        width: 1040px;
    }

    .header{
        position: fixed;
        top: 0;
        width: 1040px;
    }

    #react{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 700px;
    }

    #all-fille{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 10px auto;
        grid-template-areas: "front googel" "paid project";
        gap: 10px;
        height: 100vh;
        place-items: center;
    }

    .imgg-1 img:hover{
        height: 280px;
        filter: blur(0px);
    }
    
    .imgg-2 img:hover{
        height: 280px;
        filter: blur(0px);
    }
    
    .imgg-3 img:hover{
        height: 280px;
        filter: blur(0px);
    }
    
    .imgg-4 img:hover{
        height: 280px;
        filter: blur(0px);
    }

    .world{
        width: 800px;
    }

    .about-me{
        height: 250px;
        border-radius: 10px;
        width: 800px;
        
    }
    

    .image img{
        width: 200px;
    }

    .imagee img{
        width: 250px;
    }

}
